/* ICI ON PEUT ECRIRE DU CODE CSS */
/* RESET CSS */
html, body {
    margin:0;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
    font-size:14px;
    background-color: #999999;
    color:#000000;
    width:100%;
    height:100%;
}
* {
    box-sizing: border-box;
} 
h1 {
    text-align: center;
    color:#ffffff;
    margin-top:2rem;
}
h3 {
    text-align: center;
}
footer {
    text-align:center;
}
footer p {
    display:block;
    margin:0 auto;
    padding:1rem;
}
/* FORMULAIRES */

form {
    display: flex;
    flex-direction: column;
    width:100%;
    min-width:200px;
    padding-left:1rem;
}
form > * {
    font-size:1rem;
    padding:0.5rem;
    margin:0.2rem;
    font-family: Arial, Helvetica, sans-serif;
    max-width:480px;
}
.container {
    display:flex;
    flex-wrap: wrap;
}
.container img {
    width:calc(100% /4);
    object-fit: cover;
}
.grande-image img {
    max-width:100%;
    max-height:100%;
    object-fit: contain;
    border:1.5rem solid #ffffff;
    transform: rotate(5deg);
} 

/*CODE POUR LIGHTBOX */
.grande-image {
    position:fixed;
    top:200vmax;
    left:0;
    background-color: rgba(0,0,0,0.8);
    width:100%;
    height:100%;
    padding:5rem;
    display:block;
    z-index:-1;
    opacity:0;
    transition:all 0.7s;
    transition-timing-function: ease;
    width:100%;
    height:100%;
    text-align:center;
}

/* LA BALISE DOIT AVOIR LES 2 CLASSES POUR ETRE SELECTIONNEE */
.grande-image.montrer {
    display:block;
    opacity:1;
    z-index:99;
    width:100%;
    height:100%;
    left:0px;
    top:0;
}

/* LAYOUT */
header {
    padding:1rem;
    width:100%;
}
h1 {
    font-size:2rem;
}
nav {
    max-width:1280px;
    margin:0 auto;
}
nav ul {
    display:flex;
    flex-wrap: wrap;
    width:100%;
    list-style:none;
    padding-left:0;
    justify-content: center;
}
nav a {
    text-decoration: none;
    display:inline-block;
    padding:0.5rem;
}

main {
    width:100%;
}
section {
    min-height:50vmax;
    width:100%;
    padding-top:2rem;
    padding-bottom:2rem;
}
footer {
    padding:2rem;
    width:100%;
}
p {
    width:100%;
    max-width:540px;
    padding:1rem;
}


/* RESPONSIVE ET FLEX */

.ligne {
    display: flex;
    flex-wrap: wrap;
    width:100%;
    max-width:1280px;
    margin:0 auto;
}

/* PAR DEFAUT ON FAIT 3 COLONNES PAR LIGNE */
.ligne > * {
    width: 100%;
}

/* 

https://getbootstrap.com/docs/4.3/layout/overview/ 
on reprend les breakpoints de bootstrap

*/
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
    .ligne > * {
        width: calc(100% / 2);
    }
    .ligne > *:first-child {
       width:100%; 
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    .ligne > *, .ligne > *:first-child {
        width: calc(100% / 3);
    }
 
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    html, body {
        font-size:16px;
    }
    
}


/* COLORS */
footer {
    background-color: #666666;
}
.section1 {
    background-color:#aaaaaa;
}
.section2 {
    background-color:#cccccc;
}
